# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
/WellnessHub-API-V2/bin/
/WellnessHub-API-V2/obj/

/WellnessHub-API-V2/bin/
/WellnessHub-API-V2/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# Rider / IntelliJ
.idea/
*.sln.iml
*.iml

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
